<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FinanceMind AI</title>

    <link rel="stylesheet" href="/static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>

    <div class="background-glow"></div>

    <div class="main-container">

        <div class="top-bar">

            <div class="logo-section">

                <div class="logo-circle"></div>

                <div>
                    <h1>FinanceMind AI</h1>
                    <p>AI Powered Financial Assistant</p>
                </div>

            </div>

        </div>

        <div id="chat-box"></div>

        <div class="input-container">

            <input
                type="text"
                id="user-input"
                placeholder="Ask about stocks, investments, finance..."
            >

            <button onclick="sendMessage()">
                Send
            </button>

        </div>

    </div>

    <script src="/static/script.js"></script>

</body>

</html>